:root {
  font-family: 'GothamPro', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  overflow-x: hidden;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
